<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <!-- Redirect www to non-www -->
                <rule name="WWW Redirect" stopProcessing="true">
                    <match url=".*" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="^www\.(.*)" />
                    </conditions>
                    <action type="Redirect" url="https://{C:1}/{R:0}" redirectType="Permanent" />
                </rule>

                <!-- Force HTTPS -->
                <rule name="HTTPS Redirect" stopProcessing="true">
                    <match url=".*" />
                    <conditions>
                        <add input="{HTTPS}" pattern="off" ignoreCase="true" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}/{R:0}" redirectType="Permanent" />
                </rule>

                <!-- Language detection and redirection -->
                <rule name="Language Redirect" stopProcessing="true">
                    <match url="^$" />
                    <conditions>
                        <add input="{HTTP_ACCEPT_LANGUAGE}" pattern="^es" />
                    </conditions>
                    <action type="Redirect" url="/es/" redirectType="Found" />
                </rule>

                <rule name="Portuguese Redirect" stopProcessing="true">
                    <match url="^$" />
                    <conditions>
                        <add input="{HTTP_ACCEPT_LANGUAGE}" pattern="^pt" />
                    </conditions>
                    <action type="Redirect" url="/pt/" redirectType="Found" />
                </rule>

                <rule name="French Redirect" stopProcessing="true">
                    <match url="^$" />
                    <conditions>
                        <add input="{HTTP_ACCEPT_LANGUAGE}" pattern="^fr" />
                    </conditions>
                    <action type="Redirect" url="/fr/" redirectType="Found" />
                </rule>

                <rule name="Thai Redirect" stopProcessing="true">
                    <match url="^$" />
                    <conditions>
                        <add input="{HTTP_ACCEPT_LANGUAGE}" pattern="^th" />
                    </conditions>
                    <action type="Redirect" url="/th/" redirectType="Found" />
                </rule>

                <rule name="Vietnamese Redirect" stopProcessing="true">
                    <match url="^$" />
                    <conditions>
                        <add input="{HTTP_ACCEPT_LANGUAGE}" pattern="^vi" />
                    </conditions>
                    <action type="Redirect" url="/vi/" redirectType="Found" />
                </rule>

                <!-- Default to English -->
                <rule name="Default English" stopProcessing="true">
                    <match url="^$" />
                    <action type="Redirect" url="/en/" redirectType="Found" />
                </rule>
            </rules>
        </rewrite>

        <httpErrors errorMode="Custom">
            <remove statusCode="404" />
            <error statusCode="404" path="/404.html" responseMode="File" />
        </httpErrors>

        <staticContent>
            <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" />
            <remove fileExtension=".woff" />
            <remove fileExtension=".woff2" />
            <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
            <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
        </staticContent>

        <httpProtocol>
            <customHeaders>
                <add name="X-Content-Type-Options" value="nosniff" />
                <add name="X-XSS-Protection" value="1; mode=block" />
                <add name="X-Frame-Options" value="SAMEORIGIN" />
                <add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains" />
                <add name="Cache-Control" value="no-cache, no-store, must-revalidate" />
                <add name="Pragma" value="no-cache" />
                <add name="Expires" value="0" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
</configuration> 