<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <!-- Permitir acceso directo a archivos y directorios existentes -->
                <rule name="Handle Files and Directories" stopProcessing="true">
                    <match url=".*" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" />
                    </conditions>
                    <action type="None" />
                </rule>
            </rules>
        </rewrite>
        
        <defaultDocument>
            <files>
                <clear />
                <add value="index.html" />
                <add value="index.php" />
            </files>
        </defaultDocument>
        
        <httpProtocol>
            <customHeaders>
                <add name="Cache-Control" value="no-cache, no-store, must-revalidate" />
                <add name="Pragma" value="no-cache" />
                <add name="Expires" value="0" />
            </customHeaders>
        </httpProtocol>
        
        <caching>
            <profiles>
                <add extension=".html" policy="DisableCache" />
                <add extension=".htm" policy="DisableCache" />
                <add extension="." policy="DisableCache" />
            </profiles>
        </caching>
    </system.webServer>
</configuration> 